html, body, form
{
    margin: 0;
}

#CenterContent
{
    margin: 0;
    padding: 0;
}

#form1
{
    
}

.Header
{
    color: white;
    top: 0;
    height: 60px;
    text-align: center;
    border: solid; border-width: 1px;
    background-color: tomato;
}

.LeftPanel 
{
    color: white;
    left: 0;
    width: 200px;
    height: 800px;
    float: left;
    border: solid; border-width: 1px;
    background-color: dodgerblue;
}

/*.RightPanel
{
    color: white;
    float: right;
    right: 0;
    height: 500px;
    width: 200px;
    border: solid; border-width: 1px;
    background-color: mediumseagreen;
}*/

.CenterPanel 
{
    height: 800px;
    width: auto;
    border: solid; border-width: 1px;
}
.Button {
    border: none;
    border-radius: 25px;
    background-color: saddlebrown;
    color: #FFFFFF;
    text-align: center;
    font-family: arial, helvetica, sans-serif;
    padding: 5px 10px 10px 10px;
    font-weight: bold;
    width: 100px;
    height: 40px;
}
.Footer 
{
    color: white;
    height: 30px;
    bottom: 0;
    text-align: center;
    border: solid; border-width: 1px;
    background-color: gray;
}